@use '../globals/layout';

.filter {
  @extend %container;
   @extend %flex;
   padding: auto {
     top:  15px;
     bottom: 15px;
   };

   .inputWrapper {
    position: relative;
    @extend %flex;

    input {
        width: 300px;
        min-height: 35px;
        padding-left: 55px;
        padding-right: 10px;
        outline: none;
        border: none;
        background-color: var(--elem);
        color: var(--colorText);
        font-family: 'Nunito Sans', sans-serif;
        transition: 0.3s ease-in-out;
    }

    span {
        position: absolute;
        left: 20px;
        font-size: 12px;
        i {
           vertical-align: bottom;
        }
    }

   }

   select {
    width: 200px;
    height: 35px;
    outline: none;
    border: none;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--elem);
    color: var(--colorText);
    transition: 0.3s ease-in-out;
   }
}

::placeholder { 
    color: var(--colorText);
  }
  