@use "../utils/mixin" as *;
@use '../globals/layout';


header{
   background-color: var(--elem);

   .headerWrapper {
    @extend %container;  
    min-height: 60px;
    @extend %flex;
   }

   h1 {
      font-size: 20px;
      font-weight: 800;
   }

   .toggleBtn {
     @include btnStyle(transparent);
     font-weight: 600;
     color: var(--colorText);
 
    & * {
        margin: 0 5px;
    }
   }
}



