@mixin btnStyle($bgColor) {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $bgColor;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}