@mixin btnStyle {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color: transparent;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}